@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #333;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin: 100px auto;
}
/*navber sytle */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 71px;
  width: 135px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #777;
  font-weight: 500;
  font-size: 1rem;
}

.nav-links a.active {
  font-weight: bold;
  color: #000;
}
.cart {
  font-size: 1rem;
  color: #000;
  display: flex;
  align-items: center;
  gap: 8px;
}
/* hero Section*/

.section-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
  font-family: "Segoe UI", sans-serif;
}
.text-block {
  flex: 1;
  padding: 0px 20px;
}
.text-block h2 {
  font-size: 48px;
  margin: 0;
  line-height: 1.2;
  font-family: "Noto Serif", serif;
}
.text-black {
  color: #222;
}
.text-orange {
  color: #e67e22;
}
.description {
  margin-top: 20px;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
.image-block {
  width: 100%;
  flex: 1;
}
.image-block img {
  max-width: 100%;
  height: auto;
}

/* hero Section */

.plant-container {
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 20px 0px;*/
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}
.plant-container h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.indulge-text {
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.plant-card {
  background-color: #fff;
  border: 0pc solid #ddd;
  text-align: center;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.05);
}

.plant-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.plant-card h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 5px;
}
.plant-card img {
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}
.plant-price {
  color: black;
  font-size: 22px;
  margin: 16px 0px;
  font-weight: bold;
}

.add-cart {
  border: none;
  width: 100%;
  background-color: #e67e22;
  color: #fff;
  font-size: 1rem;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/*Flower & Plants Lover SECTION*/

.flower-section {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  gap: 80px;
  font-family: "segoe UI", sans-serif;
}

.image-box {
  position: relative;
  flex: 1;
}
.image-box img:first-child {
  width: 100%;
  height: auto;
  display: block;
}

.badge {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 250px;
  height: auto;
}

.content-box {
  flex: 1;
}

.content-box h2 {
  font-size: 50px;
  color: #000000;
  margin-bottom: 20px;
  font-family: "Noto Serif", serif;
  font-weight: bold;
}

.content-box ul li {
  font-size: 22px;
  margin-bottom: 15px;
  margin-left: 20px;
  line-height: 1.6;
  color: #555;
  font-family: "Inter", sans-serif;
}
/* latest section*/

.latest-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 0px 80px 0px;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}
.latest-container h2 {
  font-size: 45px;
  margin-bottom: 16px;
  font-weight: 600;
}
.latest-container p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  max-width: 680px;
  margin: 0 auto;
}

.bloom-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  font-family: "Segoe UI", sans-serif;
}

.bloom-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.bloom-right {
  flex: 2;
}
.bloom-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.bloom-box.boll {
  height: 100%;
  justify-content: center;
  display: flex;
}
.bloom-box img {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.bloom-over {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.05);
  padding: 15px 20px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  align-content: center;
}
.bloom-over h3 {
  margin: 0 0 10px;
  font-size: 22px;
}
.bloom-over u {
  padding: 8px 16px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Subscribe Section style */
.sub-container {
  width: 100%;
  background: url("./assets/news-letter-bg.png");
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 150px 20px;
}
.sub-item {
  padding: 40px;
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  display: inline-block;
  color: #faf7f7;
  font-size: 40px;
}
.Subscribe-form h2 {
  font-size: 36px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-weight: 600;
}
.Subscribe-form {
  display: flex;
  justify-content: center;

  max-width: 100%;
  align-content: center;
}
.Subscribe-form input {
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  width: 80%;
  outline: none;
}
.Subscribe-form button {
  padding: 13px 24px;
  font-size: 16px;
  background-color: #e67e22;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/*footer section style*/
.footer-container {
  max-width: 1140px;
  height: 248px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 150px;
  background-color: #fff;
  font-family: "Segoe UI", sans-serif;
}
.footer-logo {
  flex: 1;
  min-width: 260px;
}
.footer-logo img {
  width: 100px;
  margin-bottom: 10px;
}
.footer-text {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
}
.footer-block {
  flex: 2;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  min-width: 280px;
}
.colam {
  list-style: none;
  padding: 0;
  margin: 0;
}
.colam li {
  margin-bottom: 8px;
}
.colam a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
.footer-social {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-social img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.hide {
  display: none;
}
@media screen and (max-width: 576px) {
  .nav-links {
    display: none;
  }
  .section-container {
    flex-direction: column-reverse;
  }
  .indulge-text {
    padding: 0px 15px;
  }
  .card-container:nth-child(7) {
    display: none;
  }
  .card-container:nth-child(8) {
    display: none;
  }
  .plant-flex {
    padding: 20px;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
  }
  .flower-section {
    flex-direction: column;
    padding: 0px 15px;
  }
  .badge {
    display: none;
  }
  .content-box {
    line-height: 1;
    font-family: none;
  }
  .content-box h2 {
    font-size: 28px;
  }
  .latest-container {
    padding: 0px 15px;
  }
  .latest-container p {
    padding: 0px 20px;
  }
  .bloom-container {
    flex-direction: column;
    padding: 0px 15px;
  }

  .sub-container {
    padding: 20px;
    margin: 60px auto;
  }
  .sub-item {
    font-size: 15px;
  }
  .sub-item h2 {
    margin-bottom: 20px;
  }
  .Subscribe-form {
    border: none;
    flex-wrap: none;
  }
  .footer-container {
    flex-direction: column;
    gap: 30px;
    text-align: left;
    padding: 0;
    align-items: flex-start;
    padding-left: 25px;
    flex-wrap: nowrap;
  }
  .footer-logo {
    flex: 1;
    min-width: 80px;
  }
  .footer-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    padding: 0px 10px;
  }

  .footer-social {
    justify-content: center;
  }
  .colam li {
    padding: 15px;
  }
}
