@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #333;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin: 100px auto;
}
/*navber sytle */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /*background: #ffffff;*/
}

.logo img {
  height: 71px;
  width: 135px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #777;
  font-weight: 500;
  font-size: 1rem;
}

.nav-links a.active {
  font-weight: bold;
  color: #000;
}
.cart {
  font-size: 1rem;
  color: #000;
  display: flex;
  align-items: center;
  gap: 8px;
}
/* hero Section*/

.section-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-family: "Segoe UI", sans-serif;
}
.text-block {
  flex: 1;
  padding: 0px 20px;
}
.text-block h2 {
  font-size: 48px;
  margin: 0;
  line-height: 1.2;
  font-family: "Noto Serif", serif;
}
.text-black {
  color: #222;
}
.text-orange {
  color: #e67e22;
}
.description {
  margin-top: 20px;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
.image-block {
  width: 100%;
  flex: 1;
}
.image-block img {
  max-width: 100%;
  height: auto;
}

/* hero Section */

.plant-container {
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 20px 0px;*/
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}
.plant-container h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.indulge-text {
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.plant-card {
  background-color: #fff;
  border: 0pc solid #ddd;
  text-align: center;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.05);
}

.plant-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.plant-card h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 5px;
}
.plant-card img {
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}
.plant-price {
  color: black;
  font-size: 22px;
  margin: 16px 0px;
  font-weight: bold;
}

.add-cart {
  border: none;
  width: 100%;
  background-color: #e67e22;
  color: #fff;
  font-size: 1rem;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/*Flower & Plants Lover SECTION*/

.flower-section {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  gap: 80px;
  font-family: "segoe UI", sans-serif;
}

.image-box {
  position: relative;
  flex: 1;
}
.image-box img:first-child {
  width: 530px;
  height: 597px;
  display: block;
}

.badge {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 250px;
  height: auto;
}

.content-box {
  flex: 1;
}

.content-box h2 {
  font-size: 36px;
  color: #e67e22;
  margin-bottom: 20px;
}

.content-box ul li {
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 20px;
  line-height: 1;
  color: #555;
  width: 540px;
  height: 60px;
}

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
}
